# output files created by running scripts
*.out
*.log
*.head
*.body
*.json
*.sql
*.xz
*.db

# do not put those pesky backups to git
backup
backup/

# un-ignore (whitelist) some of ours
!./hac-ulazi-izlazi.csv
